@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger{
        display: none;
    }

    menu{
        display: block;
    }

    menu ul li{
        display: inline-block;
    }

    menu ul li a{
        border-top: 0px;
    }

    main{
        width: 768px;
    }
}