@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #A40BE0, #BB50E6);
}

main{
    background-color: rgba(255, 255, 255, 0.733);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(79, 34, 97, 0.596);
}

h1{
    color: #5a087a;
    text-align: center;
    text-shadow: 1px 1px 2px #3a084e9c;
}

h2{
    color: #ac42d6;
}

p{
    text-align: justify;
}